body {
  min-width: 540px;
  font-family: 'VT323', monospace;

  background-color: #141C15;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  color: white;
  overflow-x: hidden;
}

.headline {
  font-size: 3rem;
  text-align: center;
  margin-top: -2rem;
  z-index: 999;
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {opacity: 1;}
  49% {opacity:1;}
  50% {opacity: 0;}
  99% {opacity: 0;}
}

/************************************************** menu stuff **/
.menu {
  padding: 1rem;
  z-index: 999;
}

.btn-bs {
  font-size: calc(1.375rem + 1.5vw)!important;
  padding: 1.5rem!important;
}

/************************************************** sky stuff **/
#sky {
  height: 150px;
  z-index: -999;
  animation: scroll-sky 250s infinite linear;
}

.sky-dawn {
  background: url(https://i.imgur.com/q01fan4.png) repeat-x;
  background-size: auto 100%;
}

.sky-blue {
  background: url(https://i.imgur.com/ziTV2mM.png) repeat-x;
  background-size: auto 100%;
}

.sky-dusk {
  background: url(https://i.imgur.com/57kmasZ.png) repeat-x;
  background-size: auto 100%;
}

.sky-night {
  background: url(https://i.imgur.com/uUYpiS5.png) repeat-x;
  background-size: auto 100%;
}

.sky-desert {
  background: url(https://i.imgur.com/HqB1Vvw.png) repeat-x;
  background-size: auto 100%;
  filter: grayscale(.8);
}

.sky-range {
  background: url(https://i.imgur.com/rNfHEUt.png) repeat-x;
  background-size: auto 100%;
}

@keyframes scroll-sky {
  0% {background-position: 0 0;}
  100% {background-position: -1632px 0;}
}

#background {
  top: 0;
  height: 240px;
  position: absolute;
  z-index: 1;
}

.bg-woods {
  background: url(https://i.imgur.com/6WTbsce.png) repeat-x;
  background-size: auto 100%;
}

.bg-desert {
  background: url(https://i.imgur.com/Ql84dPW.png) repeat-x;
  background-size: auto 100%;
}

.scroll-bg {
  animation: scroll-bg 150s infinite linear;
}

@keyframes scroll-bg {
  0% {background-position: 0 0;}
  100% {background-position: -3836px 0;}
}

/************************************************** ground stuff **/
#ground {
  top: 100px;
  height: 512px;
  position: absolute;
}

.ground-woods {
  background: url(https://i.imgur.com/0qy10M9.png) repeat;
  background-size: auto 50%;
}

.ground-grass {
  background: url(https://i.imgur.com/aNoHif6.png) repeat;
  background-size: auto 35%;
}

.ground-desert {
  background: url(https://i.imgur.com/JdiNkn9.png) repeat;
  background-size: auto 50%;
}

.scroll-ground {
  animation: scroll-ground 100s infinite linear;
}

@keyframes scroll-ground {
  0% {background-position: 0 0;}
  100% {background-position: -2560px 0;}
}

/************************************************** foreground stuff**/
#foreground {
  background-size: auto 100%;
  bottom: 0%;
  height: 450px;
  position: absolute;
  z-index: 5;
}

.fg-woods {
  background: url(https://i.imgur.com/FqDILQs.png) repeat-x;
  background-size: auto 100%;
}

.fg-forest {
  background: url(https://i.imgur.com/ZePqtpC.png) repeat-x;
  background-size: auto 100%;
}

.fg-desert {
  background: url(https://i.imgur.com/ROfFzkH.png) repeat-x;
  background-size: auto 100%;
}

.scroll-fg {
  animation: scroll-fg 60s infinite linear;
}

@keyframes scroll-fg {
  0% {background-position: 0 0;}
  100% {background-position: -3000px 0;}
}

#map-container {
  position: absolute;
  overflow:hidden;
}

.map {
  height: 608px;
  max-width: 1920px;
  overflow: hidden;
}

#map-forest {
  background: url(https://i.imgur.com/YyXl9dR.png);
  height: 100%;
}

#map-meadow {
  background: url(https://i.imgur.com/GKwcmqd.png);
  height: 100%;
}

#map-cave-entrance {
  background: url(https://i.imgur.com/eHjG863.png);
  height: 100%;
}

#map-cave {
  background: url(https://i.imgur.com/C6laMJ3.png);
  height: 100%;
}

#map-camp {
  background: url(https://i.imgur.com/lBNsBT1.png);
  height: 100%;
}



/************************************************** sprite stuff **/
.sprite-container {
  transform: scale(1.5);
  z-index: 3;
  margin-top: 33%;
}

#coleton {
  position: absolute;
  width: 30px;
  height: 36px;
}

#coleton-fx {
  position: absolute;
  margin-top: -10px;
}

.coleton-walk {
  background: url(https://i.imgur.com/88NSBxM.png) 0 0;
  animation: walk 1s steps(6) infinite;
}

.coleton-idle {
  background: url(https://i.imgur.com/CwCK7YU.png) 0 0;
  animation: idle 1.5s steps(4) infinite;
}

.coleton-prone {
  background: url(https://i.imgur.com/EW3gz1d.png) 0 0;
}

#joel {
  position: absolute;
  width: 30px;
  height: 36px;
}

#joel-fx {
  position: absolute;
  margin-top: -10px;
}

.joel-walk {
  background: url(https://i.imgur.com/EA7Q7iN.png) 0 0;
  animation: walk 1s steps(6) infinite;
}

.joel-idle {
  background: url(https://i.imgur.com/21ea8vz.png) 0 0;
  animation: idle 1s steps(4) infinite;
}

.joel-prone {
  background: url(https://i.imgur.com/fOe8fIc.png) 0 0;
}

#mike {
  position: absolute;
  width: 30px;
  height: 36px;
}

#mike-fx {
  position: absolute;
  margin-top: -10px;
}

.mike-walk {
  background: url(https://i.imgur.com/YdVlcYR.png) 0 0;
  animation: walk-right 1s steps(6) infinite;
}

.mike-idle {
  background: url(https://i.imgur.com/R3CPpY1.png) 0 0;
  animation: idle 1.25s steps(4) infinite;
}

.mike-prone {
  background: url(https://i.imgur.com/0vfnLO0.png) 0 0;
}

.medium {
  transform: scale(2.5);
}

.large {
  transform: scale(3);
}

@keyframes walk-left {
  from {  background-position-y: 36px;
          background-position-x: 0px; }
  to {    background-position-y: 36px;
          background-position-x: -180px; }
}

@keyframes walk-right {
  from {background-position-x: 0px;}
  to {background-position-x: -180px;}
}

@keyframes walk {
  from {background-position: 0px;}
  to {background-position: -180px;}
}

@keyframes idle {
  from   {background-position: 0px;}
  to  {background-position: -120px;}
}

/************************************************** NPCs **/
#avi {
  position: absolute;
  width: 30px;
  height: 36px;
}

.avi-sit {
  background: url(https://i.imgur.com/e0O4fsz.png) 0 0;
  margin-left: 80%;
  animation: sit 10s steps(6) infinite;
}

.no-avi {
  display: none;
}

@keyframes sit {
  0%   { background-position-x: 0px; }
  90%  { background-position-x: 0px; }
  100% { background-position-x: -180px; }
}

/************************************************** enemies **/
#giant-spider {
  position: absolute;
  width: 100px;
  height: 100px;
}

.giant-spider {
  background: url(https://i.imgur.com/j3YkKcD.png) 0 0;
  margin-top: -20%;
  margin-left: 50%;
  animation: enemy-5-idle 1s steps(5) infinite;
}

#werewolf {
  position: absolute;
  width: 50px;
  height: 60px;
}

.werewolf-idle {
  background: url(https://i.imgur.com/odsj9Fo.png) 0 0;
  margin-left: 50%;
  animation: enemy-4-idle 1s steps(4) infinite;
}

#cultist {
  position: absolute;
  width: 30px;
  height: 36px;
}

.cultist-idle {
  background: url(https://i.imgur.com/28p2Npo.png);
  margin-left: 50%;
  animation: enemy-idle 1s steps(6) infinite;
}

#bbeg {
  position: absolute;
  width: 60px;
  height: 60px;
}

.bbeg-idle {
  background: url(https://i.imgur.com/ZBYsPmo.png);
  margin-left: 50%;
  animation: bbeg-idle 1s steps(6) infinite;
}

.hide {
  display:none;
}

@keyframes bbeg-idle {
  from { background-position: 0px; }
  to { background-position: -360px; }
}

@keyframes enemy-idle {
  from { background-position: 0px; }
  to { background-position: -180px; }
}

@keyframes enemy-4-idle {
  from { background-position: 0px; }
  to { background-position: -200px; }
}

@keyframes enemy-5-idle {
  from { background-position: 0px; }
  to { background-position: -500px; }
}

/************************************************** objects **/
.cart {
  position: absolute;
  width: 260px;
  height: 125px;
  top: 20%;
  z-index: 1;
}

#campfire {
  position:absolute;
  height: 50px;
  width: 40px;
  margin-left: 45%;
}

.campfire {
  background: url(https://i.imgur.com/aooTWYt.png);
  margin-left: 50%;
  animation: campfire 1s steps(4) infinite;
}

.hide {
  display:none;
}

@keyframes campfire {
  from {background-position: 0px;}
  to {background-position: -160px;}
}

#house-container {
  position: absolute;
  top: 0;
  right: 0;
  width:auto;
  overflow: hidden;
  z-index: 1;
}

.house {
  background-image: url(https://i.imgur.com/yntPFTM.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 550px;
}

.no-house {
  display:none;
}

/************************************************** other stuff **/
.scroll-container {
  top: 50px;
  width: 100%;
}

#black-container {
  position: absolute;
  overflow: hidden;
  z-index: 999999;
}

.black-container {
  background-color: black;
  height: 608px;
  max-width: 1920px;
  overflow: hidden;
  animation: fade-from-black 2s forwards;
}

@keyframes fade-from-black {
  0%   {opacity:1;}
  100% {opacity:0;}
}

.fade-to-black {
  background-color: black;
  height: 608px;
  max-width: 1920px;
  overflow: hidden;
  animation: fade 2s forwards;
}

.fade {
  animation: fade 2s forwards;
}

@keyframes fade {
  0%   {opacity:0;}
  100% {opacity:1;}
}

@keyframes fade-back {
  0%   {opacity:1;}
  100% {opacity:0;}
}

#rain-container {
  position: absolute;
  overflow: hidden;
  z-index: 999;
}

.rain-anim {
  background: url(https://i.imgur.com/DokZ3Uc.png) 0 0;
  height: 608px;
  max-width: 1920px;
  opacity: .6;
  overflow: hidden;
  filter: grayscale(.8);
  transform: scale(2);
  animation-name: make-it-rain; 
  animation-duration: .5s;
  animation-timing-function: steps(4);
  animation-iteration-count: infinite;
}

@keyframes make-it-rain {
  from { background-position: 0px; }
  to { background-position: -1028px; }
}

.rain-start {
  animation: fade 10s forwards;
}

.rain-end {
  animation: fade-back 10s forwards;
}

.kill-enemy {
  animation: kill-enemy 10s forwards;
}

@keyframes kill-enemy {
  0%   { opacity:1; filter: hue-rotate(0deg); }
  25%  { opacity:.75; filter: hue-rotate(500deg); }
  50%  { opacity:.5; filter: hue-rotate(-500deg); }
  100% { opacity:0; filter: hue-rotate(1000deg); }
}

#fog-container {
  position: absolute;
  overflow: hidden;
  z-index: 999;
}

.fog-anim {
  background: url(https://i.imgur.com/3QCil4m.png) 0 0;
  height: 608px;
  max-width: 1920px;
  opacity: .2;
  overflow: hidden;
  animation: make-it-fog 10s infinite linear;
}

@keyframes make-it-fog {
  0% { background-position: 0px; }
  100% { background-position: -4828px; }
}

#warp-container {
  position: absolute;
  overflow: hidden;
  z-index: 999;
}

.warp-anim {
  background-color: black;
  background: url(https://i.imgur.com/R6HuuhY.png) 0 0;
  height: 800px;
  max-width: 1920px;
  opacity: .4;
  overflow: hidden;
  animation: make-it-warp 10s infinite linear;
}

@keyframes make-it-warp {
  0% { background-position-x: 0px; background-position-y: 0px; opacity: 10%;}
  50% { background-position-x: -1600px; background-position-y: -1600px; opacity: 50%; }
  100% { background-position-x: -3200px; background-position-y: -3200px; opacity: 10%; }
}

#mist-container {
  position: absolute;
  overflow: hidden;
  z-index: 999;
}

.mist-anim {
  background: url(https://i.imgur.com/Ifo1hxk.png) 0 0;
  background-size: cover;
  height: 608px;
  opacity: .2;
  overflow: hidden;
  animation: make-it-mist 25s infinite linear;
}

@keyframes make-it-mist {
  0% { background-position: 0px; }
  100% { background-position: -4828px; }
}

#dark-container {
  position: absolute;
  overflow: hidden;
  z-index: 999;
}

.dark-anim {
  background-color: black;
  height: 800px;
  max-width: 1920px;
  opacity: .5;
  overflow: hidden;
  animation: make-it-dark 2s infinite linear;
}

@keyframes make-it-dark {
  0% { opacity: 10%; }
  30% { opacity: 20%; }
  40% { opacity: 30%; }
  50% { opacity: 20%; }
  70% { opacity: 30%; }
  80% { opacity: 10%; }
  100% { opacity: 20%; }
}

#hurt-container {
  position: absolute;
  overflow: hidden;
  z-index: 999;
}

.hurt-flash {
  background-color: darkred;
  height: 800px;
  max-width: 1920px;
  opacity: .5;
  overflow: hidden;
  animation: make-it-hurt .5s forwards;
}

@keyframes make-it-hurt {
  0% { opacity: 0%; }
  30% { opacity: 80%; }
  40% { opacity: 30%; }
  50% { opacity: 0%; }
  60% { opacity: 80%; }
  100% { opacity: 0%; }
}

/************************************************** sprite stuff **/
.effect {
  display: none;
}

.fx-inspiration {
  background: url(https://i.imgur.com/UtImQts.png) 0 0;
  height: 20px;
  width: 20px;
  opacity: .6;
  margin-left: 5px;
  margin-top: 25px!important;
  z-index: 2;
  animation-name: insp-anim; 
  animation-duration: 1s;
  animation-timing-function: steps(4);
  animation-iteration-count: infinite;
}

@keyframes insp-anim {
  from { background-position: 0px; }
  to { background-position: -80px; }
}

.fx-fire {
  background: url(https://i.imgur.com/Sa49hL2.png) 0 0;
  height: 36px;
  width: 30px;
  animation: walk 1s steps(6) infinite;
}

.fx-poison {
  background: url(https://i.imgur.com/w7W8R2H.png) 0 0;
  height: 60px;
  width: 45px;
  opacity: .8;
  margin-left: -7px;
  margin-top: -20px;
  animation-name: poison-anim; 
  animation-duration: 1.2s;
  animation-timing-function: steps(6);
  animation-iteration-count: infinite;
}

@keyframes poison-anim {
  from { background-position: 0px; }
  to { background-position: -270px; }
}

.fx-boost {
  background: url(https://i.imgur.com/jC4vXUC.png) 0 0;
  height: 40px;
  width: 80px;
  opacity: .7;
  margin-left: -23px;
  margin-top: 8px;
  animation-name: boost-anim; 
  animation-duration: .25s;
  animation-timing-function: steps(4);
  animation-iteration-count: infinite;
  transform: scale(.4);
}

@keyframes boost-anim {
  from { background-position: 0px; }
  to { background-position: -160px; }
}

.no-scroll {
  animation-play-state: paused;
}

/************************************************** portraits **/
.portrait {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border-color: white;
  border-size: 3px;
  animation: none;
}

/************************************************** discord **/
#discord-bot {
  margin-top: 1rem;
}

.discord-bot {
  display: none;
  transition: 1s;
}

/************************************************** smallest viewports **/
@media (max-width: 575.98px) {
  .sprite-container {
    margin-top: 33%;
  }

  #foreground {
    height: 225px!important;
  }
  
  .medium {
    transform: scale(1.5);
  }  

  .cart {
    display: none;
  }
}

/************************************************** small viewports **/
@media (max-width: 767.98px) {
  
  .background {
    height: 120px;
  }
  
  .ground {
    top: 60px;
  }
  
  @keyframes scroll {
    0% { background-position: 0 0; }
    100% { background-position: -2000px 0; }
  }
  
  .medium {
    transform: scale(1.4);  
  }
  
  .large {
    transform: scale(2);
  }
  
  .cart {
    top: 20%;
  }
}
